/* Application styles */
  .navbar-white {
    color: #fff !important; 
  }

  .navbar-white:hover, .navbar-white:focus {
    color: #f8f9fa !important; 
  }

  .square-image {
    width: 100%; 
    max-width: 200px;
    height: 200px; 
    object-fit: cover; 
  }