<div class="container pb-4">
<h1 class="pt-3 pb-2">Places</h1>

<div>
<p>
  <a <button type="button" class="btn btn-primary" href="/places/new">New place</a>
</p>
</div>
<div>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
</div>
</div>

